[submodule "Libraries/marbastlib"]
	path = Libraries/marbastlib
	url = https://github.com/numanair/marbastlib.git
	branch = untested
[submodule "Libraries/kbd"]
	path = Libraries/kbd
	url = https://github.com/numanair/kbd.git
