[submodule "Libraries/marbastlib"]
	path = Schematic/Libraries/marbastlib
	url = https://github.com/numanair/marbastlib.git
	branch = untested
[submodule "Libraries/kbd"]
	path = Schematic/Libraries/kbd
	url = https://github.com/numanair/kbd.git
